.App {
    max-width: 450px;
    max-height: 400px;    
}

body{
    background-color: #4B778D;
    background-size: cover;
    margin: 0;
    font-family: 'Wallpoet', cursive;

}

h1 {
    font-family: 'Wallpoet', cursive;
}

.spotlight-pok{
    background-color: #8FD9A8;
    border-radius: 0 10px 10px 0;
    font-size: 85%;
    
    
}

.all-pok{
    background-color: #8FD9A8;
    border-radius: 10px 0 0 10px;
    font-size: 85%;
}

.pokedex-window{
    border: 2px solid #1C6EA4;
}

.around-pokedex-top{
    background-color: #28B5B5;
    border: 15px double #141414;
    border-radius: 10px;
}